body {
	background-color:  lightcyan;
	color:  darkred;
    font-family: 'Lora', serif;

    font-weight: 100; /*from 100-900, or lighter, bold*/
	/*line-height: 1.6; leaves space between text */
	/* background-image: url(images/background2.jpg);*/
	text-align: center;

}

h1, h2, h3 {
	color:steelblue;
    font-family: 'Roboto', sans-serif;
	font-weight: 500; /*from 100-900, or lighter, bold*/

}

h1{
	text-align: center;
	/* color:steelblue; */
	letter-spacing: 5px; /*px*/
	font-size: 30px;
	/*font-weight: light;*/

}

h2{
	text-align: center;
	/* color:rgba(255,83,13,0.5); /*last number is the transparency*/ */
	/*background-color:  darkblue;*/
	/* font-family: helvetica; */
	/*font-weight: light;*/

}

p {
	text-align: center;

	/* 
	background-color:  lightcyan;
	color:  darkred;
	font-family:  Courier;
	font-weight: 100; /*from 100-900, or lighter, bold*/
	/* line-height: 1.6; /*leaves space between text*/ 

}

a{
    font-family: 'Roboto', sans-serif;
	text-decoration:  none;
	color:  darkred;
	font-weight: normal;
	transition: color 0.3s ease;
	font-size:  16px;
}

a:hover {
	color: yellow;
	font-weight: light;

}


/*############## ID - one time - UNIQUE */
/*img src="name of file" id="logo">  in HTML */
/*ID in CSS */
#logo { 
	width: 40px;
}

#leader { 
	border: 5px solid darkred;
}

#banner {
	background-image:  url("background2.jpg");
	background-size:  cover;
}

#introduction p {
	margin-bottom:  20px;
}


/* Custom Design with Class */
/*############## CLASS - applies to a GROUP */
/*img src="name of file" class="img_circle shadowed">  in HTML */
/*CLASS in CSS */
.img-circle { 
	border-radius: 50%;
}

.perfect-circle {
    width: 100px;
	height: 100px;
	border-radius: 50%;
}

.shadowed { 
	box-shadow: 5px 5px 3px black;
}

.btn-blue {
	background-color: steelblue;
	color:  darkred;
	padding: 10px 20px;
	border-radius:  4px;
}

.btn-blue:hover {
	background-color:  black;
	color:  white;
}

.list-inline{
	list-style: none;
	padding-left:  0px;
}

.list-inline li {
	display: inline;
	padding-left:  10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-inline i:hover{
	color: black;
}





/* FOR SUB DIV SETUP */
.card-white {
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    text-align: center;
}

/* TYPICALLY FOR MAIN DIV SETUP */
.container {
    width: 1000px; /* BAD for RESPONSE DESIGN */
    margin: 40px auto;
}


/* RESPONSE DESIGN when small device MOBILE PHONE*/
/* MEDIA QUERY 1 */
@media (max-width:  960px) {
	.container {
		width:  700px;
		/* background-color:  red; */
	}
}

/* RESPONSE DESIGN when small device MOBILE PHONE*/
/* MEDIA QUERY 2 */
@media (max-width:  720px) {
	.container {
		width:  500px;
		/* background-color:  red; */
	}
}

/* RESPONSE DESIGN when small device MOBILE PHONE*/
/* MEDIA QUERY 3 */
@media (max-width:  540px) {
	.container {
		width:  300px;
		/* background-color:  red; */
	}
}




div{ 
	
	/* background: white; 		/* White Background */
	/* margin:  5px auto; /* 1st# top&bottom - 2nd# left&right Set automatic margins for left & right */
	/* padding:  10px; 		/* Internal Space */
	/* width:  300px; /* Fix the width */

	
	/* border:  2px solid black;
	/* border-radius: 5px; 	/* Small radius */

	/* box-shadow: 15px 15px 10px rgba(50,50,93,.1); /*Stripe shadow*/
	
}


